Net led<0> LOC=H13 | IOSTANDARD = LVCMOS25;
Net led<1> LOC=J17 | IOSTANDARD = LVCMOS25;
Net led<2> LOC=H15 | IOSTANDARD = LVCMOS25;
Net led<3> LOC=G16 | IOSTANDARD = LVCMOS25;
Net led<4> LOC=L18 | IOSTANDARD = LVCMOS25;
Net led<5> LOC=H18 | IOSTANDARD = LVCMOS25;
Net led<6> LOC=J19 | IOSTANDARD = LVCMOS25;
Net led<7> LOC=J21 | IOSTANDARD = LVCMOS25;
Net switch<0> LOC=U26 | IOSTANDARD = LVCMOS33;
Net switch<1> LOC=U27 | IOSTANDARD = LVCMOS33;
Net switch<2> LOC=U28 | IOSTANDARD = LVCMOS33;
Net switch<3> LOC=T28 | IOSTANDARD = LVCMOS33;
Net switch<4> LOC=T30 | IOSTANDARD = LVCMOS33;
Net switch<5> LOC=T29 | IOSTANDARD = LVCMOS33;
Net switch<6> LOC=R27 | IOSTANDARD = LVCMOS33;
Net switch<7> LOC=R26 | IOSTANDARD = LVCMOS33;
Net button<0> LOC=AM32  |  PULLDOWN  | IOSTANDARD = LVCMOS25;
Net button<1> LOC=AN34  |  PULLDOWN  | IOSTANDARD = LVCMOS25;
Net button<2> LOC=AN33  |  PULLDOWN  | IOSTANDARD = LVCMOS25;
Net button<3> LOC=AN32  |  PULLDOWN  | IOSTANDARD = LVCMOS25;


NET "clk_100" LOC = "H17";
NET "clk_100" PERIOD = 10ns; #100 MHz

#NET  "clk_synth0_p" LOC = "E4";
#NET  "clk_synth0_n" LOC = "D4";
#INST "clk_synth0_ibuf" DIFF_TERM = "TRUE" ;
#NET "clk_synth0"  PERIOD = 3ns;

